PUID=1000
PGID=1000
CADDYMGM_ADMIN_USER=admin
CADDYMGM_ADMIN_PASSWORD=changeme
CADDYMGM_AUTH_ENABLED=true
CADDYMGM_CADDY_MODE=file
CADDYMGM_CADDY_API_URL=http://caddy:2019
CADDYMGM_ACCESS_LOG_DIR=/logs
CADDYMGM_CADDY_DATA_DIR=/caddy-data
CADDYMGM_CA_CERT_DIR=/ca-certificates
CADDYMGM_WEB_INTERFACE_UPSTREAM=http://caddymgm:8080
CADDY_ACCESS_LOG_DIR=/logs
COMPOSE_PROFILES=docker-caddy
CADDY_IMAGE=caddy:2-alpine
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
