.env
caddy-config/*
!caddy-config/.gitkeep
caddymgm-config/*
!caddymgm-config/.gitkeep
caddymgm-data/*
!caddymgm-data/.gitkeep
caddy-logs/
caddy-data/
caddy-state/
caddy-site/*
!caddy-site/.gitkeep
ca-certificates/*
!ca-certificates/.gitkeep
AGENTS.md
